@using System.Threading
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CMS</title>

    <link rel="shortcut icon" href="~/favicon.ico">

    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
    <![endif]-->
    @Scripts.Render("~/Bundles/App/vendor/js")

    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll"></script>
    <script src="~/api/AbpServiceProxies/GetAll?type=angular"></script>
    <script src="~/AbpScripts/GetScripts" type="text/javascript"></script>

    @Scripts.Render("~/Bundles/App/Main/js")

    <!--UI Start-->
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link href="/Abp/UI/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="/Abp/UI/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/Abp/UI/css/animate.min.css" rel="stylesheet">
    <link href="/Abp/UI/css/style.min.css?v=4.0.0" rel="stylesheet">
    <!--UI End-->
</head>
<body ng-app="app" class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper" ng-controller="app.views.layout as vm">
        <!--左侧导航开始-->
        @Html.Partial("~/App/Main/views/layout/navigate.cshtml")
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            @Html.Partial("~/App/Main/views/layout/top.cshtml")
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="~/Abp/UI/index_v1.html?v=4.0" frameborder="0" data-id="/Abp/UI/index_v1.html" seamless></iframe>
            </div>
            @Html.Partial("~/App/Main/views/layout/bottom.cshtml")
        </div>
        <!--右侧部分结束-->
        <!--右侧边栏开始-->
        @Html.Partial("~/App/Main/views/layout/right.cshtml")
        <!--右侧边栏结束-->
        <!--mini聊天窗口开始-->
        @Html.Partial("~/App/Main/views/layout/message.cshtml")
        <!--mini聊天窗口结束-->
    </div>
    <!--UI Start-->
    <script src="/Abp/UI/js/jquery.min.js?v=2.1.4"></script>
    <script src="/Abp/UI/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="/Abp/UI/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/Abp/UI/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/Abp/UI/js/plugins/layer/layer.min.js"></script>
    <script src="/Abp/UI/js/hplus.min.js?v=4.0.0"></script>
    <script src="/Abp/UI/js/contabs.min.js"></script>
    <script src="/Abp/UI/js/plugins/pace/pace.min.js"></script>
    <!--UI End-->
</body>
</html>